.vscode
*.pyc
input/allpdb-rna-aareduce.mixed
input/allpdb-segments.txt
input/*
!input/.gitkeep
*.job
crmsd_matrix_???.npy
ecrmsd_matrix_???.npy
*.gz
*.ermsd
allpdb-rna-detect-dinuc-*.npy
allpdb-rna-fit-dinuc-*-pairs.npy
allpdb-rna-fit-dinuc-*-rotamers.npy
allpdb-rna-fit-dinuc-*.txt
