*.pyc
input/allpdb-rna-aareduce.mixed
input/allpdb-segments.txt
library/dinuc-??-?.?.npy
library/dinuc-??-?.?-extension.npy
library/dinuc-??-?.?-extension.origin.txt
library/dinuc-??-?.?-replacement.npy
library/dinuc-??-?.?-replacement.txt
library/trinuc-???-?.?.npy
library/trinuc-???-?.?-extension.npy
library/trinuc-???-?.?-extension.origin.txt
library/trinuc-???-?.?-replacement.npy
library/trinuc-???-?.?-replacement.txt
allpdb-*-fit-chunk*.mixed